.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.fulltable {
  width:100%
}

.tablecurrent{
    border: 1px solid while;
    border-collapse: collapse;
    width: 100%;
}

.table8days {
  border:1px solid while;
  border-collapse: collapse;
  width:100%;
}

.thcurrent {
  background-color: #40e268;
}

.th8days {
  background-color: #2d84cb;
}

.tdcurrent {
  background-color: #86c779;
}

.td8days {
  background-color: #96D4D4;
}

.imgIcon {
  border: 2px solid black;
  background-color: white;
  display: inline-block;
}

.imgCompass {
    display: inline-block;
    width:32px;

}